@import url('https://fonts.googleapis.com/css?family=Concert+One|Courgette|Poppins|Russo+One|Noto+Serif|El+Messiri|Carter+One|Oswald|Rochester|Vidaloka&display=swap');
body{
    border: 2px solid gray;
    margin: 2vw 10vw;
}
.head1 h1{
    font-size: 7vmax;
}
.navigation{
    background-color: indigo;
}
.container nav a{
    color: white;
}
.container #head2{
    border-bottom: 2px dotted gray;
    padding: 20px 10px;
    text-transform: uppercase;
    font-family: noto serif;
    margin-bottom: 3vh;
}
.container p{
    font-family: vidaloka;
    font-size: 29;
}
.container #head3{
    font-family: concert one;
    padding:2vh 2vw;
    margin-bottom: 3vh;
}
.container ul>li{
    font-family: rochester;
    font-size: 25px;
}
.container .ser{
    color: indigo;
}
.container .per{
    color: rgb(95, 130, 0);
}
.container .ter{
    color: brown;
}
.container .rar{
    color: rgb(71, 197, 255);
}.container .sar{
    color: gold;
}.container .par{
    color: purple;
}.container .nar{
    color: tomato;
}
.container .sas{
    color: green;
}

.wall{
    border-left: 2px dotted  gray;
}
.contact{
    border-bottom: 2px dotted gray;
    padding-bottom: 2vh;
    padding-left: 2vh;

}
.twitter{
    border: 1px solid gray;
    border-radius: 1vh;
}

.footer-top{
    background-color: #111;
    padding: 20px;
}
.segment-one h3{
    font-family: courgette;
    letter-spacing: 3px;
    margin: 10px 0;
    border-left: 3px #c65039 solid;
    padding-left: 8px;
}
.segment-two h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 8px;
}
.segment-two ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
    font-family:sans-serif;
    font-size: 18px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none;
}
.segment-two ul li a:hover{
    color: #fff;
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 8px;
}
.segment-three a:hover{
    color: orangered;
}
.segment-four h2{
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}
.segment-four h3::before{
    content: '|';
    color: #c65039;
    padding-right: 8px;
}
.segment-four form input[type=submit]{
    border: none;
    background-color: #c65039;
    margin-left: -0px;
    padding: 2px 12px;

}
.footer-bottom-text{
    text-align: center;
    background-color: #000;
    line-height: 75px;
    margin-bottom: 0;
}

@media only screen and (min-width:768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 10px;
    }
}
@media only screen and (max-width: 900px) {
    .wall {
      border-left: 0px;
    }
  }

