@import url('https://fonts.googleapis.com/css?family=Concert+One|Noto+Serif|Righteous|Oswald|Vidaloka&display=swap');
body{
    border: 2px solid gray;
    margin: 2vw 10vw;
}
.head1 h1{
    font-size: 7vmax;
}
.container #head3{
    font-family: concert one;
    padding:2vh 2vw;
    margin-bottom: 3vh;
}
.wall{
    border-left: 2px dotted  gray;
}
.contact{
    border-bottom: 2px dotted gray;
    padding-bottom: 2vh;
    padding-left: 2vh;

}
.twitter{
    border: 1px solid gray;
}
.container .font p{
    font-family: righteous;
    font-size: 20px;
}
@media only screen and (max-width: 900px) {
    .wall {
      border-left: 0px;
    }
  }